* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}
.register-view{
      width: 1000vh;
      height: 100vh;
     display: flex;
     border:2px solid red
}